body{
    font-size: 30px;

}
.header img{
    margin-left: 70px;
}
@media screen and (max-width: 768px) and (min-width: 700px){
    .header img{
        width: 100%;
    }
    .glyphicon-home{
        border-radius:50%;
        background-color: blue;
    }
}
.header button{
    margin-top: 5px;
}
.header{
    margin-top: 20px
}
.last-header{
    
    background-color: greenyellow;
    width: 100%;
    height: 40px;
}
section{
    margin-top: 20px;
}
.sec-section{
    margin-top: -20px;
    background-image: url(../images/prd15.jpg);
    height: 650px;
    background-size: 100% 100%;
}
#tabs{
    width: 30px;
    background-color: orangered;
    
}
#tabs:hover{
    background-color: orangered;
}